@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input {
  display: block;
  box-sizing: border-box;
  border-radius: 6px;
  border: 1px solid white;
  padding: 10px 12px;
  margin-bottom: 5px;
  font-size: 14px;
  border: 1px solid #E0DEDE;
  outline: none;
  color: #000;
}

label {
  margin-bottom: 8px;
  margin-top: 16px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  color: #040404;
}

.colortext{
background:linear-gradient(289.33deg, #D85BF2 5.5%, #FE8F38 89.93%);

 -webkit-text-fill-color: transparent; 
 -webkit-background-clip: text;
}
